/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 992px) and (max-width: 1150px) {

  /* services */
  .service-item {
    margin: 0px 0px 90px;
  }
}

@media (min-width: 980px) and (max-width: 991px) {
  .doc .col-sm-6 {
    margin-left: 190px;
  }

  .member-thumb {
    margin: 0 auto;
  }

  .carousel-caption {
    top: 43%;
  }

  .carousel-caption h3 {
    font-size: 45px;
  }

  .service-icon img {
    height: 100px;
    width: 100px;
    border: 1px solid #0eb493;
    border-radius: 50%;
    color: #0eb493;
    float: left;
    padding: 10px 13px;
    filter: drop-shadow(0px 5px 3px black);
  }

  .enqbtn {
    margin-top: 10px;
    position: relative;
    border-radius: 20%;
    background-color: #00c094;
    border: none;
  }


  .enqbtn:hover {
    margin-top: 10px;
    position: relative;
    border-radius: 20%;
    background-color: #00c094;
    border: none;
  }

  .service-desc {
    margin-left: 120px;
    position: relative;
    top: 5px;
    height: 180px;
  }

  .service-desc h3 {
    color: #062033;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  #logo img {
    position: absolute;
    top: -18px;
    left: 20px;
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1150px) {

  /* slider */
  .carousel-caption {
    top: 43%;
  }

  .carousel-caption h3 {
    font-size: 45px;
  }

  .doc .col-md-10 {
    width: auto;
  }

  .service-icon img {
    height: 100px;
    width: 100px;
    border: 1px solid #0eb493;
    border-radius: 50%;
    color: #0eb493;
    float: left;
    padding: 10px 13px;
    filter: drop-shadow(0px 5px 3px black);
  }

  .enqbtn {
    margin-top: 10px;
    position: relative;
    border-radius: 20%;
    background-color: #00c094;
    border: none;
  }


  .enqbtn:hover {
    margin-top: 10px;
    position: relative;
    border-radius: 20%;
    background-color: #00c094;
    border: none;
  }

  .service-desc {
    margin-left: 120px;
    position: relative;
    top: 5px;
    height: 180px;
  }

  .service-desc h3 {
    color: #062033;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
  }


  /* works */


  /* team */

  #logo img {
    position: absolute;
    top: -18px;
    left: 20px;
    height: 100px;
    width: 100px;
  }

}

@media only screen and (max-width: 920px) {
  .navbar-header {
    float: none;
  }

  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
    float: right;
  }

  .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }

}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

  #logo img {
    position: absolute;
    top: -18px;
    left: 20px;
    height: 100px;
    width: 100px;
  }

  .doc .col-sm-6 {
    margin-left: 190px;
  }

  /* slider */

  .carousel-caption h2 {
    font-size: 55px;
  }

  .carousel-caption h3 {
    font-size: 36px;
  }

  /* services */

  .service-item {
    margin: 0 auto 30px;
    text-align: center;
    width: 325px;
  }

  .service-icon {
    float: none;
    margin: 0 10px 15px;
    text-align: center;
    width: 50px;
  }

  .service-icon img {
    margin: 0px 110px 15px;
  }

  .service-desc {
    margin-left: 0;
    position: relative;
    top: 0;
  }

  /* works */

  .work-item {
    width: 33%;
  }

  /* team */

  .member-thumb .overlay h5 {
    margin: 25px 0;
  }

  .member-thumb {
    margin: 0 auto;
  }

  .team-member .social-links {
    margin-top: 11%;
  }

  /* fatcs */

  #facts {
    background-position: center top !important;
  }

  .counters-item {
    margin-bottom: 30px;
  }

  .counters-item i {
    margin: 0 0 15px;
  }

  .counters-item strong {
    font-size: 45px;
  }

  /* contact */

  .contact-form .name-email input {
    margin-right: 0;
    width: 100%;
  }

  .footer-social {
    margin-top: 45px;
  }

  /* footer */

  .footer-single {
    margin-bottom: 30px;
  }

}


/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {

  .sec-sub-title p {
    font-size: 14px;
    padding: 0px 13px;
  }

  /* slider */
  .carousel-caption h2 {
    font-size: 35px;
  }

  .carousel-caption h3 {
    font-size: 22px;
  }

  .carousel-caption p {
    font-size: 14px;
  }

  .social-links {
    margin-top: 20%;
  }

  /* services */

  .service-item {
    margin: 0 auto 30px;
    text-align: center;
    width: 280px;
  }

  .service-icon {
    float: none;
    margin: 0 auto 15px;
    text-align: center;
    width: 100px;
    height: 110px;
  }

  .service-desc {
    margin-left: 0;
    position: relative;
    top: 0;
  }

  /* works */

  .work-item {
    width: 50%;
    margin-bottom: 15px;
  }

  /* team */

  .team-member {
    margin-bottom: 30px;
  }

  .team-member:last-child {
    margin-bottom: 0;
  }

  .member-thumb {
    margin: 0 auto;
  }

  /* facts */

  #facts {
    background-position: center top !important;
  }

  .counters-item {
    margin-bottom: 30px;
  }

  /* contact */
  .contact-address {
    margin-bottom: 30px;
  }

  .footer-social {
    margin-top: 20px;
    text-align: center;
  }

  .footer-social li {
    display: inline-block;
  }

  .footer-social li a {
    margin: 0 10px;
  }

  /* footer */


}


/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {


  /* services */

  .service-item {
    margin: 0 auto 30px;
    text-align: center;
    width: 325px;
  }

  .service-icon {
    float: none;
    margin: 0 120px 15px;
    text-align: center;
    width: 50px;
  }

  .service-desc {
    margin-left: 0;
    position: relative;
    top: 0;
  }

  /* works */

  .work-item {
    left: inherit !important;
    width: 50%;
  }


}

@media only screen and (min-width: 180px) and (max-width: 479px) {
  .slider__txt {
    font-size: 14px;
    padding: 0px 10px;
    line-height: 1.7;
    color: #111;
    margin-top: -20px;
    margin-bottom: 20px;
    max-width: 750px;
  }

  #logo img {
    position: absolute;
    top: -18px;
    left: 20px;
    height: 100px;
    width: 100px;
  }

  /* team */

  .member-thumb {
    margin: 0 auto;
  }
}